<div class="kozina-modal-container-wp">
    <div class="kozina-modal-wp">
        
        
    </div>
    <div class="buttons-korzina-wp">
        <a class="button button-korzina" href="/MakingAnOrder" id="">Оформить</a>
        <button class="button button-korzina" id="BasketClose">Закрыть</button>
        <div class="total-price-wp">
            <div class="total-basket-pirce-text">Общая сумма:</div>
            <div class="total-basket-pirce-wp">
                <div class="total-basket-pirce">0</div>
                <div class="valuta-basket">p</div>
            </div>
        </div>
    </div>
</div>