<div class="filter-wp">
                        
    <div class="filter-scroll-wp" id="FiterScroll">
        <h3 class="haeding-filter" id="PriceFilter">Цена</h3>
        <div class="filter-scroll-content-wp">
            <div class="controller-wp">
                <div class="controller-line">
                    <!-- палка двигалка -->
                    <div class="controller-stick stick-left"></div>
                    <div class="controller-stick stick-right"></div>
                </div>
            </div>
            <div class="price-wp">
                <p class="price-filter-text">Цена:</p>
                <span class="filter-price-min">39$</span>
                <span class="tire">-</span>
                <span class="filter-price-max">129$</span>
            </div>
            <div class="button-filter-wp">
                <button class="button button-filter">Применить</button>
                <button class="button button-filter-reset">Сбросить</button>
            </div>
        </div>
    </div>

</div>