<div class="modal-login">
       
    <div class="wraper-modal-entry">

        <button class="button-modal--exit">
            <svg width="14" height="14" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.170067 0.170067C0.396823 -0.056689 0.764467 -0.056689 0.991223 0.170067L6 5.17884L11.0088 0.170067C11.2355 -0.056689 11.6032 -0.056689 11.8299 0.170067C12.0567 0.396823 12.0567 0.764467 11.8299 0.991223L6.82116 6L11.8299 11.0088C12.0567 11.2355 12.0567 11.6032 11.8299 11.8299C11.6032 12.0567 11.2355 12.0567 11.0088 11.8299L6 6.82116L0.991223 11.8299C0.764467 12.0567 0.396823 12.0567 0.170067 11.8299C-0.056689 11.6032 -0.056689 11.2355 0.170067 11.0088L5.17884 6L0.170067 0.991223C-0.056689 0.764467 -0.056689 0.396823 0.170067 0.170067Z" fill="#7880B5"/>
            </svg>  
        </button>

        <div class="auto-select">
            <h2 ><a class="text modal-text-entry-main" href="#">Вход</a></h2>
            <span class="line"></span>
            <h2 ><a class="text modal-text-regist" id="RegisterRef" href="#">Регистрация</a></h2>
        </div>
            <p class="form-entry-label">Enter your username and password to login.</p>
        <form   class="form-entry">
            
                <input type="text" name="Login" id="Login" class="input-entry-login" placeholder="Введите ваш логин" required  minlength="4">

                <input type="password" name="Password" id="Password" class="input-entry-password" placeholder="Введите пароль" required  minlength="4">
               
                <a  href="" id="ButtonEntrance"   class="button button-entry center">    
                    Вход
                </a>
                
                
        </form>
        <div class="alt-register">
            <span class="text-register-whit">
                Or register with
            </span>
        </div>

        <div class="alt-continue">
            <button type="button" class="  googl-continue-button"> f</button>
            <button type="button" class="  fs-continue-button"> f</button>
        </div>
    </div>


    <div class="wraper-modal-login">

        <button id="Button-ex-login" class="button-modal--exit">
            <svg width="14" height="14" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.170067 0.170067C0.396823 -0.056689 0.764467 -0.056689 0.991223 0.170067L6 5.17884L11.0088 0.170067C11.2355 -0.056689 11.6032 -0.056689 11.8299 0.170067C12.0567 0.396823 12.0567 0.764467 11.8299 0.991223L6.82116 6L11.8299 11.0088C12.0567 11.2355 12.0567 11.6032 11.8299 11.8299C11.6032 12.0567 11.2355 12.0567 11.0088 11.8299L6 6.82116L0.991223 11.8299C0.764467 12.0567 0.396823 12.0567 0.170067 11.8299C-0.056689 11.6032 -0.056689 11.2355 0.170067 11.0088L5.17884 6L0.170067 0.991223C-0.056689 0.764467 -0.056689 0.396823 0.170067 0.170067Z" fill="#7880B5"/>
            </svg>  
        </button>

        <div class="auto-select login">
            <h2 ><a class="text modal-text-entry" href="#">Вход</a></h2>
            <span class="line"></span>
            <h2 ><a class="text modal-text-regist-main" href="#">Регистрация</a></h2> 
        </div>
        <p class="form-entry-label">Enter your username and password to login.</p>
        <form  id="registrationForm" class="form-entry">
            
                <input type="text" name="Username" id="Username" class="input-Username" placeholder="Username" required  minlength="4">

                <input type="email" name="Email" id="Email" class="input-Email" placeholder="Enter your email address" required  minlength="4">

                <input type="password" name="CreatePassword" id="CreatePassword" class="input-CreatePassword" placeholder="Enter your email address" required  minlength="4">

                <input type="password" name="PasswordConfrm" id="PasswordConfrm" class="input-PasswordConfrm" placeholder="Confirm Password" required  minlength="4">

                <button type="submit" class=" button button-entry">    
                    Вход
                </button>
        </form>
        <div class="alt-register">
            <span class="text-register-whit">
                Or register with
            </span>
        </div>

        <div class="alt-continue ">
            <button type="button" class="  googl-continue-button"> f</button>
            <button type="button" class="  fs-continue-button"> f</button>
        </div>
        
    </div>
</div>